body{
    background-image: url('./1261.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: black;
    color: rgb(255, 238, 7);
    align-items: center;
}
.container
{
  color: black;
  background-color: rgb(255, 208, 0);
  border-color: #FF4754;
  border-radius: 40px;
  height: 450px;
  width: 800px;
  opacity: .73;
  align-items: center;
  margin: 50px;
  margin-left: 400px;
  margin-right: -500px;
}
label {
    position: absolute;
    margin-left: -650px;
}

label input{
    margin-left: -550px;
    font-family:"Open Sans" ,sans-serif;
    font-size: 1rem;
    color: black;
    background: transparent;

    padding: 2rem 3.2rem 2rem 1.2rem;
    min-width: 24rem;

    border-radius: 0.2rem;
    border: 2px solid #7a7a7a56;

    transition: border-color 0.2s;

}

label input:focus
{
    border-color: #FF5754;
}

label input:focus + p,
label input:not(:placeholder-shown) + p {
    top: 0;
    font-size: 0.9rem;
    color: #FF4754;

}
label input:not(:focus)+p{
    color: #7a7a7a56;
}
label{
    top: -5%;

}
label p
{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2px;
    margin-left: -540px;
}
label .password-icon {

    position: absolute;
    top: 70%;
    right : 100px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: .4s;
    margin-left: -800px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

label .password-icon .feather-eye-off{
    display: none;
}

label .password-icon:hover{
    cursor: pointer;
    color: #FF4754;
}